audio {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;

  transition: all 0.3s ease-in-out;
}

div.cover {
  display: none;
  background: transparent;
  z-index: 10000000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

main {
  overflow: auto;
  height: 100vh !important;
  scroll-behavior: smooth;
  width: 100vw;
  background: linear-gradient(180deg, var(--bg-sec) 0%, var(--bg-prim) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: calc(max-content + 10vw);

    height: 90%;
    max-width: 90vw;
    min-width: 10vw;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font: 1.4rem "Space Grotesk" !important;
    color: var(--bright-text-prim);

    background: rgba(228, 241, 254, 0.103);
    border-radius: 1rem;
    padding: 2.5rem;

    .question-index {
      position: absolute;
      top: 1rem;
      left: 2rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--btn-bg);
      text-shadow: 0 0 4px var(--shadow-prim), 0 0 6px var(--shadow-ter);
    }

    .score {
      position: absolute;
      top: 1rem;
      right: 2rem;

      font-size: 1.4rem;
      font-weight: 600;
      color: var(--btn-bg);
      text-shadow: 0 0 4px var(--shadow-prim), 0 0 6px var(--shadow-ter);
    }

    .question-text {
      color: var(--bright-co);

      font-size: calc(2rem + 25%);
      font-weight: 600;
      font-family: "Josefin Sans", monospace;
    }

    .category-text {
      font-size: 1.2rem;
      font-weight: 400;
      font-family: "Space Grotesk";
      letter-spacing: 0.1em;
    }

    ul.answers-list {
      display: flex;
      gap: 2rem;

      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      width: 100%;
      position: absolute;

      bottom: 2rem;
      width: 90%;
      height: 15vh;
      li {
        display: grid;
        place-content: center;
        flex-basis: calc(768px / 4);
        flex: 1 1;
        height: 100% !important;
        color: #fff;
        padding: 5rem 2.45rem;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: calc(1.4rem + 30%);
        background: linear-gradient(
          90deg,
          var(--shadow-prim) 0%,
          var(--bg-ter) 100%
        );
        text-shadow: 0 0 1px #000;
        border: 1px solid var(--shadow-sec), 1px solid var(--bg-ter);
        border-radius: 1.2rem;
        transition: all 0.2s linear;
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 4px var(--shadow-sec), 0 0 6px var(--shadow-ter);
          text-shadow: 0 0 4px var(--shadow-prim), 0 0 6px var(--shadow-ter);
          background: linear-gradient(
            90deg,
            var(--bg-pri),
            var(--bg-sec),
            var(--bg-ter)
          );
        }
      }
      .correct {
        background: linear-gradient(90deg, #34c759 0%, #2e865f 100%) !important;
      }
      .incorrect {
        background: linear-gradient(90deg, #ff0000 0%, #8d5252 100%) !important;
      }
    }
  }
}
