main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    var(--bg-prim) 0%,
    var(--bg-sec) 100%
  );

  .wrapper {
    height: 100%;
    width: 60vw;

    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;

    background: rgba(228, 241, 254, 0.103);

    img.logo.title {
      width: 20%;

      margin: 10% auto;
      display: block;
    }
    h2.text-title {
      color: #fff;

      font-family: "Road Rage", sans-serif;
      font-size: 3.6rem;
      text-align: center;
      margin-top: 2rem;

      letter-spacing: 0.25em;
    }
    form {
      width: 60%;
      margin: 0 auto;
      .input {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        font-family: "Overpass Mono", monospace;
        margin-top: 2rem;
        color: var(--bright-text-prim);
        label {
          font-size: 1.4rem;
        }
        input {
          background: var(--bg-sec);
          padding: 1.8rem 1.2rem;
          border-radius: 0.6rem;
          border: 1px solid var(--btn-bg);
          transition: all 0.3s linear;

          font-size: 1.2rem;
          color: var(--bright-text-prim);

          &::placeholder {
            color: var(--bright-text-prim);
          }
          &::-moz-placeholder {
            color: var(--bright-text-prim);
          }
          &::-webkit-input-placeholder {
            color: var(--bright-text-prim);
          }
          &:focus {
            outline: none;
            box-shadow: 0 0 4px var(--shadow-sec), 0 0 6px var(--shadow-ter);
          }
        }
      }

      button[type="submit"] {
        all: unset;
        margin-top: 2rem;

        text-align: center;
        width: 100%;
        background: linear-gradient(
          90deg,
          var(--shadow-sec) 0%,
          var(--bg-ter) 100%
        );
        border: none;
        border-radius: 24px;

        padding: 1.5rem 0;

        font-size: 1.4rem;
        font-family: "Space Grotesk";
        letter-spacing: 0.25em;
        color: white;
        cursor: pointer;

        transition: all 0.3s ease-in-out;
        &:hover {
          background: linear-gradient(
            90deg,
            var(--bg-prim) 0%,
            var(--bg-sec) 100%
          );

          box-shadow: 0 0 4px var(--shadow-sec), 0 0 6px var(--shadow-ter);
        }
      }
    }
    .or {
      margin: 0 auto;

      width: 60%;
      display: flex;
      align-items: center;
      gap: 0.6rem;

      position: relative;
      top: 2rem;
      hr {
        width: 100%;
        height: 1px;
        background-color: var(--btn-bg);
      }
    }

    .google-reg {
      all: unset;

      margin: 4rem auto;

      text-align: center;
      width: 60%;
      background: linear-gradient(
        90deg,
        var(--shadow-sec) 0%,
        var(--bg-ter) 100%
      );
      border: none;
      border-radius: 24px;

      padding: 1.5rem 0;

      font-size: 1.4rem;
      font-family: "Space Grotesk";
      letter-spacing: 0.25em;
      color: white;
      cursor: pointer;

      text-transform: lowercase;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      transition: all 0.3s ease-in-out;
      &:hover {
        background: linear-gradient(
          90deg,
          var(--bg-prim) 0%,
          var(--bg-sec) 100%
        );

        box-shadow: 0 0 4px var(--shadow-sec), 0 0 6px var(--shadow-ter);
      }
    }

    .login-link {
      width: 60%;
      margin: 4rem auto;
      text-align: center;

      font-family: "Overpass Mono";
      font-size: 1.4rem;

      a {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .bg-img {
    width: 40vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    a {
      position: absolute;

      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;

      right: 2rem;
      bottom: 2rem;
    }
  }
}
