@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

:root {
  --shadow-prim: #3bc2ffcc;
  --shadow-sec: #39d5ff;
  --shadow-ter: #22b1f9cc;

  --bright-co: #aad8ff;
  --bright-text-prim: #4ae1fe;

  --bg-prim: #091c47;
  --bg-sec: #04102f;
  --bg-ter: #22b1f9;

  --wave-prim: #66ceffaa;
  --wave-sec: #39d5ff;
  --wave-ter: #1a9efcff;
  --wave-qua: #0f7ba9cc;

  --btn-bg: #20b2ea;
}
html {
  font-family: "Space Grotesk";
  font-size: 62.5% !important;
}

.hidden {
  display: none !important;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}

.bold {
  font-weight: 700 !important;
}
body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    circle at center,
    var(--bg-prim) 0%,
    var(--bg-sec) 80%
  );
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(1rem / (62.5 / 100)) calc(2rem / (62.5 / 100));
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05em;
  z-index: 10;
  position: fixed;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img.logo {
  width: calc(10% - 5vw);
  cursor: pointer;
}

/* .logo svg {
  fill: #7ff8ff;
  width: 28px;
  height: 28px;
} */

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Space Grotesk", monospace;
  font-weight: 400;
  font-size: calc(0.9rem / (62.5 / 100));
  color: var(--bright-co);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav a {
  color: var(--bright-co);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
  text-transform: lowercase;
}
nav a:hover,
nav a.active {
  color: var(--shadow-sec);
  text-shadow: 0 0 4px var(--shadow-prim), 0 0 6px var(--shadow-ter);
}
nav a.active {
  text-transform: uppercase;
}

.btn-copy {
  background: linear-gradient(90deg, var(--shadow-sec) 0%, var(--bg-ter) 100%);
  border: none;
  border-radius: 24px;
  padding: calc(0.5rem / (62.5 / 100)) calc(1rem / (62.5 / 100));
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-family: "DotGothic16", monospace;
  transition: background 0.3s ease, transform 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  svg {
    color: #fff;
    width: calc(1.5rem / (62.5 / 100));
    height: calc(1.5rem / (62.5 / 100));
  }
}
.btn-copy:hover {
  background: linear-gradient(90deg, var(--bg-ter) 0%, var(--shadow-sec) 100%);
  transform: scale(1.05);
}
.dropdown-menu {
  display: none; /* Ẩn menu theo mặc định */
  position: absolute;
  top: 100%; /* Độ cao từ button */
  right: 1rem;
  background-color: rgba(28, 42, 65, 0.788);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  padding: 1rem !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dropdown-menu a {
  position: relative;
  width: 90% !important;
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--btn-bg);
  text-decoration: none;
  transition: all 0.3s linear;

  &::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--btn-bg);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

/* .waves-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
} */
svg.waves {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 50vh;
  pointer-events: none;
  fill: none;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Multiple wave paths for layered effect */
.wave1 {
  fill: var(--shadow-sec);
  animation: waveMove 8s ease-in-out infinite;
  animation-delay: 0s;
  opacity: 0.6;
  filter: drop-shadow(0 0 1px var(--wave-prim));
}

.wave2 {
  fill: var(--shadow-ter);
  animation: waveMove 10s ease-in-out infinite;
  animation-delay: -2s;
  opacity: 0.5;
  filter: drop-shadow(0 0 4px var(--shadow-prim));
}

.wave3 {
  fill: var(--wave-qua);
  animation: waveMove 12s ease-in-out infinite;
  animation-delay: -4s;
  opacity: 0.4;
  filter: drop-shadow(0 0 5px var(--wave-ter));
}
@keyframes waveMove {
  0%,
  100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(25px) translateY(-7px);
  }
}
